.manage-inventory-container {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
  }
  
  .item-form {
    display: inline-block;
    text-align: left;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .item-form .form-group {
    margin-bottom: 15px;
  }
  
  .item-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .item-form select,
  .item-form input[type="date"],
  .item-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .item-form .submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  
  .item-form .submit-button:hover {
    background-color: #0056b3;
  }
  
  .items-list {
    margin-top: 20px;
  }
  
  .items-list .item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .items-list .edit-button,
  .items-list .remove-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
    transition: background-color 0.3s ease;
  }
  
  .items-list .edit-button:hover,
  .items-list .remove-button:hover {
    background-color: #0056b3;
  }